.hidden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 99%;
    right: 0;
    width: max-content;
    max-width: 80vw;
    padding: 5% 0;
    border: 1px black solid;
    height: auto;
}

.dropdownAcc{
    width: 100%;
    box-sizing: border-box;
}

.hidden.display{
    visibility: visible;
}

.dropdown{
    position: relative;
    width: auto;
}