.hidder{
    border-radius: 10px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
    height: 200px;
    padding-bottom: 15px; 
    opacity: 0.95;
}

.showCont{
    padding: 0.5em;
    margin: 0;
    opacity: 1;
}

.hidder:hover{
    opacity: 1;
}

.hidden{
    display: none;
    padding-top: 0.83em;
    width: 50%;
}

.hidder:hover .hidden{
    display: block;
    border-top: 1px black solid;
}