.mainHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background: #27272B;
}
.mainHeader .btn{
    width: 100px;
    padding: 15px 10px;
    border-color: #27272B;
}

.mainHeader .btn:hover{
    background: #000000;
    border-color: grey;
}

.infoSec .btn{
    width: auto;
}

