.mainHeader{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    background: rgba(4, 27, 43, 0.8);
    margin-bottom: 10px;
}

.buffer{
    visibility: hidden;
}

.mainHeader .btn{
    min-width: 100px;
    padding: 15px 10px;
    border-color: rgb(4, 27, 43);
}

.mainHeader .btn:hover{
    background: #000000;
    border-color: #9FDBFF;
}

.infoSec .btn{
    width: auto;
}

.mainHeader .hidden{
    background: #E3E1D4;
}

.headerLink{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    flex-direction: row;
}