.wrapper{
    width: 100%;
}
.mainHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    background: #27272B;
    margin-bottom: 10px;
}

.buffer{
    visibility: hidden;
}

.buffer.stick{
    visibility: visible;
    height: 68px;
    min-height: 50px;
    padding-bottom: 10px;
}

.mainHeader.stick{
    position: fixed;
    top: 0;
}

.mainHeader .btn{
    min-width: 100px;
    padding: 15px 10px;
    border-color: #27272B;
}

.mainHeader .btn:hover{
    background: #000000;
    border-color: #9FDBFF;
}

.infoSec .btn{
    width: auto;
}

.mainHeader .hidden{
    background: #E3E1D4;
}

.projectItem{
    width: 80%;
    text-decoration: none;
    color: black;
    padding-top: 4%;
    padding-bottom: 2%;
    border-bottom: 1px black dotted;
}
.projectItems:active{
    color: black
}
