.App {
  text-align: center;
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.quickSumm{
  display: flex;
  min-width: 30vw;
  flex-direction: column;
  margin:10px 0;
}

.additionalInfo{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.pfp{
  width: 100%;
  height: 200px;
  margin-top: 5%;
}

.card{
  background: #E3E1D4;
  padding: 0 10px;
}

.cardSec{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.infoItem{
  width: 100%;
}

.cardSec .card{
  min-width: 250px;
  width: 50%;
}

@media only screen and (max-width: 1007px){
    .mainSec{
      flex-direction: column;
      width: 100%;
    }
    .cardSec{
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .infoSec{
      flex-direction: column;
    }
}

@media only screen and (max-width: 1024px){
  .mainSec{
    width: 100%;
    font-size: 18px;
  }
}

.cardSec .card .content{
  width: 100%;
  height: 200px;
  overflow: auto;
}

.cardList{
  list-style-type: none;
  margin: 0;
  padding: 0 5%;
}

.listItem{
  margin: 2% 0;
  padding: 1% 0;
  border: 1px dotted black;
  background-color: #E7E4DF;
}

.mainSec{
  display: flex;
  width: 90%;
  background-color: #E7E4DF;
  margin-bottom: 10px;
  border-radius: 16px;
  font-size: 22px;
}

.contact{
  width: 100%;
  height: 200px;
  background: #27272B;
}

.heading{
  color: black;
  text-align: left;
  margin: 15px;
  padding-left: 10px;
  background-image: linear-gradient(to right, #847F83, #E7E4DF);
  width: 50%;
  font-weight: 500;
}

.abMe{
  color: black;
  text-align: left;
  margin: 0 10px;
  font-weight: 500;
  border-bottom: 3px black double;
  font-size: 30px;
}

.bio{
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 5%;
}