.App {
  text-align: center;
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.quickSumm{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pfp{
  background-color: black;
  width: 200px;
  height: 200px;
  margin: 5%;
}

.cardSec{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardSec .card{
  min-width: 250px;
  width: 50%;
  background: #E3E1D4;
}

@media only screen and (max-width: 600px){
    .cardSec{
      width: 100%;
      flex-direction: column;
    }
    .infoSec{
      flex-direction: column;
    }
}

.cardSec .card .content{
  width: 100%;
  height: 200px;
  overflow: auto;
}

.cardList{
  list-style-type: none;
  margin: 0;
  padding: 0 5%;
}

.listItem{
  margin: 2% 0;
  padding: 1% 0;
  border: 1px dotted black;
  background-color: #E7E4DF;
}

.mainSec{
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media only screen and (max-width: 768px){
  .mainSec{
    width: 100%;
  }
}

@media only screen and (max-width: 1024px){
  .quickSumm{
    width: 100%;
    flex-direction: column;
  }
}

.contact{
  width: 100%;
  height: 200px;
  background: #27272B;
}